@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #502D55;
  min-height: 100vh;
}
ul {
  list-style-type: disc;
  padding-left: 1em;
}
::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
header {
  width: 100%;
  height: 10em;
  padding: 1em 2em;
}
header nav {
  position: absolute;
  right: 1em;
  top: 3em;
}
header nav a {
  border: 0;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 2.5em;
}
header nav a:not(first-child) {
  padding-left: 1em;
}
header .logo {
  height: 8em;
  width: auto;
}
.info-section {
  height: 40em;
  width: 100%;
  background: none;
  display: flex;
}
.info-section .content,
.info-section .imagebox {
  height: 100%;
}
.info-section .content {
  width: calc(50% - 5em);
  background: none;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: inset -6px -6px 6px -6px black;
}
.info-section .content h1 {
  font-size: 5em;
  color: white;
  font-weight: 700;
}
.info-section .content p {
  color: white;
  font-size: 2.5em;
}
.info-section .image-box {
  width: calc(50% + 5em);
  background: url('../imgs/adults-black-and-white-casual-1374542.jpg');
  box-sizing: border-box;
}
.sign-up-section {
  width: 100%;
  height: 19.5em;
  display: flex;
}
.sign-up-section .learn-more {
  background: white;
  width: calc(50% - 5em);
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.sign-up-section .learn-more .learn-more-btn {
  height: 4em;
  width: 16em;
  border-radius: 5px;
  background: none;
  border: 1px solid #502D55;
  outline: none;
  color: #502D55;
  text-decoration: none;
  font-size: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: ease-in-out 0.25s;
}
.sign-up-section .learn-more .learn-more-btn:hover {
  background: #502D55;
  color: white;
}
.sign-up-section .newsletter {
  width: calc(50% + 5em);
  height: auto;
  display: block;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: inset 6px 6px 6px -6px black;
}
.sign-up-section .newsletter label {
  color: white;
  font-size: 2.3em;
}
.sign-up-section .newsletter input {
  margin-top: 0.5em;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  caret-color: white;
  padding: 0.5em 0 0.5em 0.5em;
  outline: none;
  font-size: 2.5em;
}
.sign-up-section .newsletter input:active {
  outline: none;
}
.sign-up-section .newsletter .sign-up-btn {
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 2.5em;
  height: auto;
  padding: 0.5em 1em;
  transition: 0.25s ease-in-out;
  outline: none;
}
.sign-up-section .newsletter .sign-up-btn:hover {
  background: white;
  color: #502D55;
}
.sign-up-section .newsletter .sign-up-btn:active {
  transform: translateY(5px);
  outline: none;
}
